header.header
  .header__container
    a.header__logo(href="")
      .header__logo-image-container
        img.header__logo-image(src="/public/img/logo.png", alt="acme corporation")
      .header__logo-text-container
        span.header__logo-text.header__logo-text--subtitle Research Professional
        span.header__logo-text Platform
    nav.header__navigation
      a.header__links(href="") Home
      a.header__links(href="") About Us 
      a.header__links(href="") Insights 
      a.header__links(href="") Events
      a.header__links(href="") Contact Us