.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: $white;
  border-bottom: 22px solid $primary;
  z-index: 999;

  &__container {
    display: flex;
    align-items: flex-end;
    @include max-width;
  }

  &__logo {
    display: flex;
    align-items: flex-end;
  }

  &__logo-image-container {
    position: relative;
    bottom: -10px;
    width: 170px;
    height: 150px;
    background-color: $white;
    padding-bottom: 9px;
    margin-right: 37px;
  }

  &__logo-image {
    display: block;
    margin: 0 auto;
  }

  &__logo-text-container {
    margin-bottom: 13px;
  }

  &__logo-text {
    display: block;
    font-family: $interstate;
    font-weight: $bold;
    font-size: 53.95px;
    color: $primary;

    &--subtitle {
      color: #009bfa;
      font-size: 20.39px;
      letter-spacing: 0.02em;
    }
  }

  &__navigation {
    margin: 0 0 25px 52px;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
    height: 71px;
    padding-left: 48px;
    border-left: 1px solid #ccc;
  }

  &__links {
    font-size: 19.47px;

    &:not(:last-child) {
      margin-right: 102px;
    }
  }
}
