//color
$primary: #001254;
$secondary: #498dc5;

$black: #000;
$white: #fff;

//font-family
$helvetica : 'Arial', 'Helvetica', sans-serif;
$interstate: 'interstate', sans-serif;
$object-fit: 'object-fit: cover; object-position: center;';

//font-weight
$bold: 700;
$semibold: 600;
$medium: 500;
$regular: 400;
$light: 300;
